<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Thymeleaf Layout with Bootstrap</title>
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>

    <!-- 부트스트랩 CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!-- content script -->
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
    <script th:src="@{/js/main.js}"></script>
</head>

<!--	<th:block layout:fragment="css"></th:block>-->
<!-- content script -->
<!--	<th:block layout:fragment="script"></th:block>-->

<body>



    <!-- 전적 검색 폼 -->
    <form id="searchForm">
        <input type="text" id="summonerName" placeholder="소환사명 입력"/>
        <input type="submit" value="검색"/>
    </form>


</th:block>


<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>
</html>
