<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>[[${summoner.name}]] - 토이지지 롤 전적검색</title>
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
    <!-- content script -->
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>


</head>
<!--	<th:block layout:fragment="css"></th:block>-->


<!-- content script -->
<!--	<th:block layout:fragment="script"></th:block>-->
<body>



<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

<th:block layout:fragment="content">

    <div th:text="${'소환사 accountId : ' + summoner.get('accountId')}"></div>
    <div th:text="${'소환사 profileIconId : ' + summoner.get('profileIconId')}"></div>
    <div th:text="${'소환사 revisionDate : ' + summoner.get('revisionDate')}"></div>
    <div th:text="${'소환사 name : ' + summoner.get('name')}"></div>
    <div th:text="${'소환사 id : ' + summoner.get('id')}"></div>
    <div th:text="${'소환사 puuid : ' + summoner.get('puuid')}"></div>
    <div th:text="${'소환사 summonerLevel : ' + summoner.get('summonerLevel')}"></div>

</th:block>

<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

</body>
</html>