<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Thymeleaf Layout with Bootstrap</title>
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!-- content script -->
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>
    <script th:src="@{/js/main.js}"></script>

</head>

<body>

    <!-- 전적 검색 컨테이너 -->

    <!-- 2023.11.20 전적 검색 폼 시작 -->
    <div class="main-search-container">
        Toy.GG
        <form id="main-search-form" class="main-search-form">
            <div class="main-dropdown-container">
                <input type="button" class="main-summoner-nation" value="국가" id="main-nation-toggle">
                <div class="main-dropdown-menu" id="main-nation-dropdown">
                    <!--  Korea   -->
                    <button type="button" class="main-dropdown-nation main-dropdown-nation-korea" value="대한민국">
                        Korea
                    </button>
                    <!--  Japan   -->
                    <button type="button" class="main-dropdown-nation main-dropdown-nation-japan" value="일본">
                        Japan
                    </button>
                </div>
            </div>
            <input type="text" id="main-summoner-name" placeholder="소환사명 입력" class="main-summoner-name">
            <input type="submit" value="검색" class="main-search-button">
        </form>
    </div>
    <!-- 2023.11.20 전적 검색 폼 끝 -->

    <div class="main-duo-find">
        <div th:each="post : ${posts}" class="main-duo-board">
            <div class="main-duo-board-user-profile">
                <i class="fa-solid fa-user"></i>
            </div>
            <h3 th:text="${post.title}"/>

            <div class="main-duo-board-summoner-info">
                <p th:text="${post.nickName}" class="main-duo-board-nickname"/>
                <p th:text="${post.rank}" class="main-duo-board-rank"/>
                <i th:if="${post.microphoneSelected}" id="main-duo-board-mic" class="fa-solid fa-microphone"></i>
                <i th:unless="${post.microphoneSelected}" class="fa-solid fa-microphone-slash"></i>
            </div>
            <p th:text="${post.content}" class="main-duo-board-content"/>
            <hr class="main-hr1">
        </div>
    </div>






    </th:block>


<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const nationToggle = document.getElementById('main-nation-toggle');
        const nationDropdown = document.getElementById('main-nation-dropdown');
        const nationButton = document.querySelector('.main-summoner-nation');

        // 사용자의 브라우저 언어 가져오기
        const userLanguage = navigator.language || navigator.userLanguage;

        // 국가 버튼에 언어 설정
        if (userLanguage.startsWith('ko')) {
            nationButton.value = 'Korea';
        } if (userLanguage.startsWith("ja")) {
            nationButton.value = 'Japan';
        } if (userLanguage.startsWith("en")){
            nationButton.value = 'America';
        }

        nationToggle.addEventListener('click', () => {
            if (nationDropdown.style.display === 'none' || nationDropdown.style.display === '') {
                nationDropdown.style.display = 'block';
            } else {
                nationDropdown.style.display = 'none';
            }
        });

    });
</script>
</body>
</html>
