<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>[[${summonerV4.name}]] - 토이지지 롤 전적검색</title>
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
    <!-- content script -->
    <th:block th:replace="~{fragments/config::configFragment}"></th:block>


</head>
<!--	<th:block layout:fragment="css"></th:block>-->


<!-- content script -->
<!--	<th:block layout:fragment="script"></th:block>-->
<body>



<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

<th:block layout:fragment="content">

    <div th:text="${'소환사 계정 아이디 값 / summonerLevel : ' + summonerV4.getAccountId()}"></div>
    <div th:text="${'아이콘 아이디  / summonerLevel : ' + summonerV4.getProfileIconId()}"></div>
    <div th:text="${'갱신 날짜 / summonerLevel : ' + summonerV4.getRevisionDate()}"></div>
    <div th:text="${'소환사 이름  / summonerLevel : ' + summonerV4.getName()}"></div>
    <div th:text="${'소환사 id 값 / summonerLevel : ' + summonerV4.getId()}"></div>
    <div th:text="${'소환사 고유 식별번호 / summonerLevel : ' + summonerV4.getPuuid()}"></div>
    <div th:text="${'소환사 레벨 / summonerLevel : ' + summonerV4.getSummonerLevel()}"></div>
    <br>


    <div th:text="${'leagueV4 첫 번째 / 티어 : ' + leagueV4.getTier() + ' ' +leagueV4.getRank() + ' ' + leagueV4.getLeaguePoints() + 'LP'}"></div>
    <div th:text="${leagueV4.getWins() + '승'}"></div>
    <div th:text="${leagueV4.getLosses() + '패'}"></div>
    <div th:text="${'승률 : ' + (100.0 * leagueV4.getWins() / (leagueV4.getWins() + leagueV4.getLosses())) + '%'}"></div>


</th:block>

<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

</body>
</html>