@import "reset.css";

a {
	text-decoration: none;
}

/* nav 바 a태그 */
ul li a {
	display: block;
	color: #b3cdff;

	height: 25px;
	text-align: center;
	padding-top: 10px;
}

ul li a:hover {
	border-bottom: 3px solid #fff;
	color: white;
}

ul li {
	/* border: 1px solid #000; */
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* 아래부터 클래스 */

/* header 태그 컨테이너 */
.header-container {
	display: flex;
	justify-content: center;
	background-color: #5383e8;
	height: 87px;
}

.header-logo {
	max-height: 87px;
}

/* header 바로 밑에 있는 컨테이너 */
.header-second-container {
	display: flex;
	flex-direction: column;
}

.header-search-container {
	margin-top: 10px;
}

.header-search-bar {
	width: 840px;
	height: 32px;
	padding-left: 50px;
	border-radius: 10px;
	border: 1px solid #fff;
}

.header-click-bar {
	width: 60px;
	height: 30px;
	border-radius: 12px;
	border: 1px solid #fff;
}

.header-nav {
	display: flex;
	gap: 30px;
}
